<div class="column content-{{ request.template  | replace: '_', '-' }}">

  <div class="row">

    <div class="col-md-9">

      {{ content_for_notifications }}

      {% yield %}

    </div>
    <!-- .left_column -->

    <div class="col-md-3 sidebar">

      {% if request.logged_in? %}

      {% include "supporter_nav" %}

      {% else %}
      {% unless   page.type_name == "Donation (v2)" or page.type_name == "Signup" or page.type_name == "Volunteer Signup" %}

      <div class="supporter-nav btn-group-vertical" role="group">
        <a class="btn btn-default" href="{{ request.facebook_connect_url }}"><i class="icon-facebook-squared"></i> Sign in with Facebook</a>
        <a class="btn btn-default" href="{{ request.twitter_connect_url }}"><i class="icon-twitter-squared"></i> Sign in with Twitter</a>
        <a class="btn btn-default" href="/login"><i class="icon-user"></i> Sign in with Email</a>
      </div>

      {% if site.has_signup_page? %}
      {% include "signup_form" with site.signup_page %}
      {% endif %}
      {% endunless %}
      
      {% if site.has_button1? or site.has_button2? or site.has_button3? %}
      <div class="btn-group-vertical" role="group">

        {% if site.has_button1? %}
        <a class="btn btn-default supporter-nav-btn" href="{{ site.button1_page.full_url_with_profile_recruiter }}">{{ site.button1_text }}</a>
        {% endif %}

        {% if site.has_button2? %}
        <a class="btn btn-default supporter-nav-btn" href="{{ site.button2_page.full_url_with_profile_recruiter }}">{{ site.button2_text }}</a>
        {% endif %}

        {% if site.has_button3? %}
        <a class="btn btn-default supporter-nav-btn" href="{{ site.button3_page.full_url_with_profile_recruiter }}">{{ site.button3_text }}</a>
        {% endif %}

      </div>
      {% endif %}

      <div class="panel panel-default">
        <div class="panel-body">
          {% if site.has_facebook_page? %}
          <div class="fb-page" data-href="{{ site.broadcaster.facebook_page_profile_url }}" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="{{ site.broadcaster.facebook_page_profile_url }}"><a href="{{ site.broadcaster.facebook_page_profile_url }}">{{ site.broadcaster.facebook_page_username }}</a></blockquote></div></div>
          
          {% else %}
          <fb:like href="{{ site.full_url }}" colorscheme="{{ site.facebook_colorscheme }}" width="240"></fb:like>
          {% endif %}

          {% if site.has_twitter? %}
          <div class="padtop">
            <a href="{{ site.broadcaster.twitter_profile_url }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.broadcaster.twitter_login }} on Twitter</a>
          </div>
          {% endif %}
        </div>
        {% if page and page.has_rss? %}
        <div class="panel-footer">
           <a href="{{ page.rss_url }}"><i class="icon-rss"></i></a> <a href="{{ page.rss_url }}">Subscribe with RSS</a>
        </div>
        {% elsif page and page.has_parent? and page.parent.has_rss? %}
        <div class="panel-footer">
          <a href="{{ page.parent.rss_url }}"><i class="icon-rss"></i></a>
          <a href="{{ page.parent.rss_url }}">Subscribe with RSS</a>
        </div>
        {% endif %}
      </div>

      {% endif %}

    </div>
    <!-- .right-column -->

  </div>

</div> <!-- .column -->
