{% if page.survey.is_next_question? %}

{% form_for survey_question_response %}

<div class="form-errors">{% error_messages_for survey_question_response %}</div>

{% hidden_field_tag 'survey_question_response[survey_question_id]', page.survey.next_question.id %}

<h3 class="headline">{{ page.survey.next_question.content }}</h3>

{% if page.survey.next_question.intro.size > 0 %}

<div class="row padtopmore">
  <div class="col-md-12">{{ page.survey.next_question.intro | new_line_to_br }}</div>
</div>

{% endif %}

<div class="row">

  {% if page.survey.next_question.is_multiple_choice? %}

  <div class="col-md-12">
    {% for possible_response in page.survey.next_question.possible_responses %}
    <div class="radio">
      <label for="survey-choice-{{possible_response.id}}" class="radio">{{ possible_response.radio_button }} {{ possible_response.name }}</label>
    </div>
    {% endfor %}
  </div>

  {% elsif page.survey.next_question.is_yes_no? %}

  <div class="col-md-12">
    <div class="radio">
      <label for="radio-btn-yes" class="radio">{{ page.survey.next_question.yes_radio_button }} Yes</label>
    </div>
    <div class="radio">
      <label for="radio-btn-no" class="radio">{{ page.survey.next_question.no_radio_button }} No</label>
    </div>
  </div>

  {% elsif page.survey.next_question.is_text? %}

  <div class="row">
    <div class="col-md-12"><div class="form-group">{% text_area "content", class:"textarea form-control" %}</div></div>
  </div>

  {% endif %}

</div>

<div class="row padtop">
  <div class="col-md-12">
    {% submit_tag "Next question", class:"submit-button btn btn-primary" %}
    <div class="form_submit"></div>
  </div>
</div>

{% endform_for %}

{% else %}
<h3>Thanks for answering all our questions!</h3>
{% endif %}