<div class="onecolumn_container">
  <div class="onecolumn">

    {% if page.nation_signup.content.size > 0 %}
    {{ page.nation_signup.content }}
    {% endif %}

    <div align="center" class="one_column">
      <div class="form-wrap" align="left">
        <div class="form">

          {% if request.sorta_logged_in? %}

          <h2 class="headline">Hi {{ request.current_signup.name_or_email }}! Start your new nation.</h2>

          {% if request.logged_in? == false %}
          <div class="padtop text-content">
            If you're not {{ request.current_signup.name_or_email }}, <a href="{{ request.current_signup.logout_url }}">click here</a>.
          </div>
          {% endif %}

          {% else %}

          <h2 class="headline">Start your new nation.</h2>

          {% endif %}

          {% form_for nation_signup %}

          <div class="form_errors">{% error_messages_for nation_signup %}</div>

          {% hidden_field_tag "nation_signup[package_name]", package_name %}
          {% hidden_field_tag "nation_signup[months_count]", months_count %}

          <div class="row">
            <div class="col-md-6"><div class="form-group"><label for="nation_signup_slug">Choose your NationBuilder URL</label><div style="width: 60%; float: left;">{% text_field "slug", class:"text form-control" %}</div></div><div style="float: left; width: 30%; padding: 5px 0 0 5px;">.nationbuilder.com</div>
            </div>
            <div class="col-md-6"><div class="form-group"><label for="locale">Choose your language</label>{{ page.nation_signup.form_locales }}</div>
          </div>

          <div class="padbottommore"><small>(you can add your own domain later)</small></div>

          <div class="row">
            <div class="col-md-6"><div class="form-group"><label for="nation_signup_first_name">Your First Name</label>{% text_field "first_name", class:"text form-control" %}</div></div>
            <div class="col-md-6"><div class="form-group"><label for="nation_signup_last_name">Your Last Name</label>{% text_field "last_name", class:"text form-control" %}</div></div>
          </div>

          <div class="row">
            <div class="col-md-6"><div class="form-group"><label for="nation_signup_email">Your Email</label>{% email_field "email", class:"text form-control" %}</div></div>
            <div class="col-md-6"><div class="form-group"><label for="nation_signup_phone">Your Phone Number</label>{% text_field "phone", class:"text form-control" %}</div></div>
          </div>

          <div class="row">
            <div class="col-md-6"><div class="form-group"><label for="nation_signup_password">Choose your password</label>{% password_field "password", class:"text form-control" %}</div></div>
            <div class="col-md-6"><div class="form-group"><label for="nation_signup_password_confirmation">Repeat password</label>{% password_field "password_confirmation", class:"text form-control" %}</div></div>
          </div>


          {% if request.logged_in? and request.current_signup.has_password? %}
          <div class="row">
            <div class="col-md-12">This password is for your personal administrator account on your new nation.<br/> It is separate from your nationbuilder.com password.</div>
          </div>
          {% endif %}

          {% unless page.nation_signup.has_plan? %}
          {% if page.nation_signup.has_edition? == false %}
          <div class="row">
            <div class="col-md-12 radio-inline">{{ page.nation_signup.form_edition_options }}</div>
          </div>
          {% endif %}
          {% else %}
          <div class="row">
            <div class="col-md-12"><div class="form-group"><label for="nation_signup_nation_plan_id">Choose your plan</label> {{ page.nation_signup.form_plan_dropdown }}</div>
          </div>
          {% endunless %}

          {% if page.nation_signup.ask_for_cc? %}
          <hr />

          <div class="padbottom"><h3>Enter your billing information</h3></div>

          <div class="row padtopmore">
            <div class="col-md-12">
            <h4>14 day free trial</h4>
            <b>You won't be billed unless you keep your account open past your 14 day free trial.</b> We need your billing information to reduce fraud and verify you have a valid credit card should you keep your nation. This prevents any interruption in service. <b>You can change your plan or cancel at anytime.</b>
            </div>
          </div>

          <div class="row padtop">
            <div class="col-md-6">
              <div class="form-group">
                <label for="nation_signup_card_number">Credit card number</label>
                {% payment_field "card" %}
              </div>
            </div>
          </div>

          {% endif %}

          <div class="row">
            <div class="col-md-12">
            {% submit_tag "Start your nation", class:"submit-button btn btn-primary" %}
            <div class="form_submit"></div>
          </div>
        </div>

          {% endform_for %}

        </div>
      </div>
    </div>

  </div>
</div>
