{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline padbottom">{{ page.headline }}</h2>
{% endif %}

<div id="content">

  {% if site.has_friends_page? %}

  {% if request.logged_in? == false or request.current_signup.has_facebook_authorization? == false %}

  <div class="row padbottommore">
    <div class="col-md-12">
      <strong>Connect to Facebook to find your friends.</strong>

      <div class="padtopless">
        <a href="{{ request.facebook_connect_url }}" class="btn btn-default connect-button facebook"><i class="icon-facebook-squared"></i> Sign in with Facebook</a>
      </div>
    </div>
  </div>

  {% endif %}

  {% if request.logged_in? == false or request.current_signup.has_twitter_authorization? == false %}

  <div class="row">
    <div class="col-md-12">
      <strong>Connect to Twitter to find your friends here.</strong>

      <div class="padtopless">
        <a href="{{ request.twitter_connect_url }}" class="btn btn-default connect-button twitter"><i class="icon-twitter-squared"></i> Sign in with Twitter</a></div>
    </div>
  </div>

  {% endif %}

  {% endif %}

  {% if request.logged_in? %}

  <div id="stream">
    <div class="reaction-wrap" id="reactions">

      <ul id="stream-activities" class="activities list-unstyled">
        {% for activity in page.activity_stream.activities_following %}
        <li class="activity panel">
          <div class="panel-body">
            <div class="media">
              <div class="media-left">
                {{ activity.signup.profile_image }}
              </div>
              <div class="media-body">
                {{ activity.show }}
              </div>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>

    </div>
  </div>

  {{ page.activity_stream.activities_following | paginate prev_label: "&laquo;" next_label: "&raquo;" | replace:'<div class="pagination">','<nav class="pagination-container">' | replace:'<ul>','<ul class="pagination">' | replace:'</div>','</nav>' }}

  {% endif %}

</div>